@import url("/styles/header.css");
@import url("/styles/carrossel.css");
@import url("/styles/cards.css");
@import url("styles/produtos.css");
@import url("styles/footer.css");

:root {
    --fonte-principal: "Montserrat", sans-serif;
    --branco:#EBECEE;
    --verde-escuro: #3D6A70;
    --verde-claro: #C0D2C6;
    --cor-fonte: #111945;
    --roxo-escuro: #111945;
    --verde-limao: #D3E459;

}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte);
    font-size: 16px;
    font-weight: 400;
}